<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="importSourceService" class="com.ljw.service.ImportSourceService">
        <!--        给这个初始化值-->
        <property name="name" value="ljw"/>
        <property name="age" value="18"/>
    </bean>

</beans>
